* {
  box-sizing: border-box;
  margin: 0;
  padding: 1em;
  background-color: black;
  background-color: violet;

  color: whitesmoke;
}

li,
a {
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
  font-size: 16px;
  color: whitesmoke;
  text-decoration: none;
  padding: 0em;
  display: inline;
  margin: 1em;
  width: 12em;
  height: 1em;
  text-align: left;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3em;
}

.nav {
  list-style: none;
}
.nav li {
  display: inline-block;
  padding: 0px 20px;
  width: 60px;
}
.nav li a:hover {
  color: blueviolet;
}

ul {
  border: 3px solid aqua;
  padding: 13px;
  align-items: center;
  margin: 0px;
}

p {
  text-align: center;
  text-decoration: none;
  font-weight: 4em;
  padding: 8em;
  border-radius: 15px;
  font-size: 3em;
  margin-top: 1em;
  margin-bottom: 1em;
}
img {
  display: block;
  width: 50em;
  height: 50em;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto 0 auto;
}
